@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

Canvas {
  height: 80vh;
}

.body-canvas {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
